# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
design-patterns.iml
out/
src/Main.java
src/behawioralne/
src/kreacyjne/factory/
src/kreacyjne/singleton/
src/strukturalne/
